<table id="myCompContact">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  {% for comp in listeComp %}
        {% if comp in myComp and comp.getTotal != '' and comp.getType == 'C' %}
        <tr>
            <td class="col-md-1"><input type="checkbox" checked="checked"/></td><td class="col-md-4">{{ comp.getNom }}({{ comp.getBase }}%)</td><td class="col-md-2">{{ comp.getTotal }}%</td>
        </tr>
        {%elseif comp in myComp and comp.getTotal == '' and comp.getType == 'C' %}
        <tr>
            <td class="col-md-1"><input type="checkbox" checked="checked"/></td><td class="col-md-4">{{ comp.getNom }}({{ comp.getBase }}%)</td><td class="col-md-2">___%</td>
        </tr>
        {% elseif comp.getNom == 'Bagarre' or  comp.getNom == 'Lancer'%}
        <tr>
            <td class="col-md-1"><input type="checkbox" disabled/></td><td class="col-md-4">{{ comp.getNom }}({{ comp.getBase }}%)</td>
        </tr>
        {% endif %}

  {% endfor %}
    </tbody>
</table>
