<table id="myCompContact">
    <thead>
        <tr>
            <th>Arme</th>
            <th>Pourcentage</th>
            <th>Dégâts</th>
            <th>Pts Structure</th>
            <th>Mains</th>
        </tr>
    </thead>
    <tbody>
  {% for comp in listeComp %}
        {% if comp in myComp and comp.getTotal != '' and comp.getType == 'C' %}
        <tr>
            <td class="col-md-4">{{ comp.getNom }} ({{ comp.getBase }}%)</td><td class="col-md-2">{{ comp.getTotal }}%</td>
        </tr>
        {%elseif comp in myComp and comp.getTotal == '' and comp.getType == 'C' %}
        <tr>
            <td class="col-md-4">{{ comp.getNom }} ({{ comp.getBase }}%)</td><td class="col-md-2">___%</td>
        </tr>
        {% elseif comp.getNom == 'Bagarre' or  comp.getNom == 'Lancer'%}
        <tr>
            <td class="col-md-4">{{ comp.getNom }} ({{ comp.getBase }}%)</td>
        </tr>
        {% endif %}

  {% endfor %}
    {% for arme in myArmes %}
     {% if arme.getType == 'C' %}
        <tr>
            <td class="col-md-4">{{ arme.getNom }} ({{ arme.getBase }}%)</td>
            <td class="col-md-2">{{ arme.getTotal }}%</td>
            <td class="col-md-2">{{ arme.getDegats }}</td>
            <td class="col-md-2">{{ arme.getStructure }}</td>
            <td class="col-md-2">{{ arme.getMains }}%</td>
        </tr>
    {% endif %}
{% endfor %}
    </tbody>
</table>
