<div style="max-height:300px;overflow:auto;">
    <table class="table table-hover">
        <thead>
        <th>Compétences</th>
        <th>%age de base</th>
        <th>%age rajouté</th>
        <th style='text-align: center;'>%age total</th>
        </thead>
        <tbody>
  {% for comp in listeComp %}
            <tr>
        {% if comp in listeCompMetier %}
                <td class="col-md-4">{{ comp.getNom }}</td>
                <td class="col-md-2">{{ comp.getBase }}%</td>
                <td><input type="text" class="comp col-md-6" name="comp[{{ comp.getId }}]" value=""/>%</td>
                <td style='text-align: center;'></td>
        {% else %}
                <td class="col-md-4">{{ comp.getNom }}</td><td class="col-md-2">{{ comp.getBase }}%</td><td></td>
        {% endif %}
            </tr>
  {% endfor %}
        </tbody>
    </table>
</div>

{% if metier.getNbContact > 0 %}
<div style="max-height:200px;overflow:auto;">
    <table class="table table-hover" style="height:200px;overflow:auto;display: table;">
        <thead>
        <th>Armes de contact</th>
        <th>Base</th>
        <th>Dégâts</th>
        <th>Mains</th>
        <th>%age rajouté</th>
        <th style='text-align: center;'>%age total</th>
        </thead>
        <tbody>
  {% for arme in listeArmes %}
            {% if arme.getType == 'C' %}
            <tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="arme_{{ arme.getId }}" class="cb_contact"/>{{ arme.getNom }}
                        </label>
                    </div>
                </td>
                <td class="col-md-2">{{ arme.getBase }}%</td>
                <td class="col-md-2">{{ arme.getDegats }}</td>
                <td class="col-md-2">{{ arme.getMains }}</td>
                <td><input type="text" class="armes col-md-6" name="arme[{{ arme.getId }}]" value="" disabled/>%</td>
                <td style='text-align: center;'></td>
            </tr>
            {% endif %}
  {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        var contact_max = parseInt({{metier.getNbContact}});
        var nb_contact_max = 0;
        $(document).on('click', '.cb_contact', function() {
            if ($(this).prop('checked') === true) {
                nb_contact_max++;
                if (nb_contact_max === contact_max) {
                    $(".cb_contact").each(function() {
                        if ($(this).prop('checked') === false) {
                            $(this).attr("disabled", "disabled");
                            $(this).parent().parent().parent().siblings("td:eq(3)").children(":first").val('');
                            $(this).parent().siblings("td:last").html('');
                        } else {
                            $(this).parent().parent().parent().siblings("td:eq(3)").children(":first").removeAttr("disabled");
                        }
                    });
                } else {
                    $(this).parent().parent().parent().siblings("td:eq(3)").children(":first").removeAttr("disabled");
                    $(".cb_contact").each(function() {
                        if ($(this).prop('checked') === false) {
                            $(this).removeAttr("disabled");
                            $(this).parent().parent().parent().siblings("td:eq(3)").children(":first").attr("disabled", "disabled");
                        }
                    });
                }
            } else {
                nb_contact_max--;
                $(this).parent().parent().parent().siblings("td:eq(3)").children(":first").attr("disabled", "disabled");
                if ($(this).parent().parent().parent().siblings("td:eq(3)").children(":first").val() !== "") {
                    var newTot = parseInt($(this).parent().parent().parent().siblings("td:eq(3)").children(":first").val()) + parseInt($('#totPts').text());
                    $('#totPts').text(newTot);
                }
                $(this).parent().parent().parent().siblings("td:eq(3)").children(":first").val('');
                $(this).parent().parent().parent().siblings("td:last").html('');
            }
        });
    });
</script>
{% endif %}
