<table class="table table-hover">
    <thead>
    <th></th>
    <th>Base</th>
    <th>Dégâts</th>
    <th>Mains</th>
    <th>Structure</th>
</thead>
<tbody>
  {% for arme in listeArmes %}
    <tr>
        <td class="col-md-4">{{ arme.getNom }}</td><td class="col-md-2">{{ arme.getBase }}%</td><td class="col-md-2">{{ arme.getDegats }}%</td><td class="col-md-2">{{ arme.getMains }}%</td><td class="col-md-2">{{ arme.getStructure }}%</td>
    </tr>
  {% endfor %}
</tbody>
</table>
