<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}JdrCorp{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% javascripts 'bundles/jdrcorpelric/js/jquery-1.10.2.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts 'bundles/jdrcorpelric/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% stylesheets 'bundles/jdrcorpelric/css/bootstrap.css'  filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets 'bundles/jdrcorpelric/css/index.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
{% block body %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('jdr_corp_index_homepage_duplicate')}}">Accueil JdrCorp</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Elric <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{path('Elric') }}">Index</a></li>
                        {% if is_granted("ROLE_USER") == false %}
                        <li><a href="{{path('register') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Guildes <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{path('Guildes') }}">Index</a></li>
                        <li><a href="{{path('Guildes_armes') }}">Armes & Armures</a></li>
                        <li><a href="{{path('Guildes_artefacts') }}">Artefacts</a></li>
                        <li><a href="{{path('Guildes_cdb') }}">Coups de bols & Mésaventures</a></li>
                        <li><a href="{{path('Guildes_comp') }}">Compétences & Métiers</a></li>
                        <li><a href="{{path('Guildes_equipement') }}">Equipement</a></li>
                        <li><a href="{{path('Guildes_dice') }}">Lanceur de dés</a></li>
                        <li><a href="{{path('Guildes_loom') }}">Loom</a></li>
                        <li><a href="{{path('Guildes_machinations') }}">Machinations</a></li>
                    </ul>
                </li>
            </ul>
            {% if is_granted("ROLE_USER") == false %}
            <form class="navbar-form navbar-right" action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="_useremail" placeholder="email">    
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="_password" placeholder="mot de passe">    
                </div>
                <input type="hidden" name="_target_path" value="account" />
                <input type="submit" class="btn btn-default" value="Connexion"/>
            </form>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-right" action="{{ path('profile') }}" method="post">
                        <input type="submit" class="btn btn-default" value="Mes fiches générées"/>
                    </form>
                </li>
                <li>
                    <form class="navbar-form navbar-right" action="{{ path('logout') }}" method="post">
                        <input type="submit" class="btn btn-default" value="Déconnexion"/>
                    </form>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% if notice %}
    <div class="alert alert-{{type}} alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ notice }}</div>
    {% endif %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47119875-3', 'auto');
  ga('send', 'pageview');

</script>
</html>