	
<base href="http://{{app.request.host}}">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <title>Guildes Eldorado - Fiche de personnage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% javascripts '@JdrCorpElricBundle/Resources/public/js/jquery-1.10.2.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <div id="fiche_recto"></div>
        <div id="fiche_verso"></div>
        <span id="nom">{{perso.nom}}</span>
        <span id="surnom">{{perso.surnom}}</span>
        <span id="maison">{{perso.maison}}</span>
        <span id="age">{{perso.age}}</span>
        <span id="sexe">{{perso.sexe}}</span>
        <span id="desc">{{perso.desc}}</span>
        <span id="metier">{{perso.metier}}</span>
        <span id="agile">
            {% for i in 1..perso.agile %}
                <p class="puce"></p>
            {% endfor %}
        </span>
        <span id="fort">
            {% for i in 1..perso.fort %}
                <p class="puce"></p>
            {% endfor %}
        </span>
        <span id="res">
            {% for i in 1..perso.res %}
                <p class="puce"></p>
            {% endfor %}
        </span>
        <span id="obs">
            {% for i in 1..perso.obs %}
                <p class="puce"></p>
            {% endfor %}
        </span>
        <span id="charm">
            {% for i in 1..perso.charm %}
                <p class="puce1"></p>
            {% endfor %}
        </span>
        <span id="ruse">
            {% for i in 1..perso.ruse %}
                <p class="puce1"></p>
            {% endfor %}
        </span>
        <span id="savant">
            {% for i in 1..perso.savant %}
                <p class="puce1"></p>
            {% endfor %}
        </span>
        <span id="tal">
            {% for i in 1..perso.tal %}
                <p class="puce1"></p>
            {% endfor %}
        </span>

        <span id="guerrier">
            {% for i in 1..perso.guerrier %}
                <p class="puce1"></p>
            {% endfor %}
        </span>
        <span id="etrange">
            {% for i in 1..perso.etrange %}
                <p class="puce1"></p>
            {% endfor %}
        </span>
        <span id="guildien">
            {% for i in 1..perso.guildien %}
                <p class="puce1"></p>
            {% endfor %}
        </span>
        <table id="comp">
            <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for comp, niv in perso.competences %}
                <tr>
                    <td>{{comp}}</td>
                    <td style="padding-left: 40px;">{{niv}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="compCpg">
        <thead>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for comp, niv in perso.competencesCpg %}
            <tr>
                <td>{{comp}}</td>
                <td style="padding-left: 85px;">{{niv}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
<style>
    span, table, img, ul{
        font-family: Calibri;
        font-size: 23px;
        font-weight: bold;
        position:absolute;
        display:block;
    }
    .puce{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000000;
    }
    .puce1{
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #000000;
    }
    #fiche_recto {
        background:url("{{ asset('images/guildes_recto.jpg') }}") no-repeat left top;
        width:1150px;
        height:1573px;
    }
    #fiche_verso {
        page-break-before:always;
        page-break-after:always;
        background:url("{{ asset('images/guildes_verso.jpg') }}") no-repeat left top;
        top:1600px;
        width:1150px;
        height:1573px;
    }
    #nom{  
        top:15px;
        left:380px;
    }
    #surnom{  
        top:15px;
        left:640px;
    }
    #maison{  
        top:15px;
        left:920px;
    }
    #age{  
        top:15px;
        left:1085px;
    }

    #sexe{  
        top:45px;
        left:430px;
    }

    #desc{  
        top:73px;
        left:310px;
    }
    #agile{  
        top:241px;
        left:247px;
    }

    #fort{  
        top:298px;
        left:247px;
    }

    #res{  
        top:355px;
        left:247px;
    }

    #obs{  
        top:412px;
        left:247px;
    }

    #charm{  
        top:239px;
        left:889px;
    }

    #ruse{  
        top:295px;
        left:889px;
    }

    #savant{  
        top:352px;
        left:889px;
    }

    #tal{  
        top:410px;
        left:889px;
    }

    #guerrier{  
        top:213px;
        left:989px;
    }

    #etrange{  
        top:311px;
        left:989px;
    }

    #guildien{  
        top:410px;
        left:989px;
    }

    #metier{  
        top:130px;
        left:400px;
    }

    #comp{
        top:612px;
        left:60px;
        font-weight: normal;
    }
    
    #compCpg{
        top:612px;
        left:390px;
        font-weight: normal;
    }

</style>
</html>
