{% extends "::layout_guildes.html.twig" %}
{% block title %}
    JdrCorp - Guildes - Accueil
{% endblock %}
{% block fos_user_content %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">L'histoire de Guildes</h3>
        </div>
        <div class="panel-body text-justify">
            L'action du jeu se déroule dans un univers imaginaire nommé Cosme. Six peuples typés vivent dans un archipel nommé les Rivages alors que se produit un cataclysme : un raz-de-marée dévaste les côtes des îles. 
            Quelques mois plus tard, on découvre qu'un nouveau continent est "apparu" à deux mois de navigation, recelant de mystérieuses peuplades, créatures et puissances magiques. 
            Les joueurs interprètent des natifs des Rivages, faisant partie d'organisations nommées "Guildes" vouées à l'exploration et l'exploitation des ressources du Nouveau Monde. L'ambiance est très proche de l'exploration de l'Amérique par les Européens, le côté magique et fantastique en plus.
            Le système de jeu est simple : chaque personnage est défini par des caractéristiques chiffrées (Fort, Agile, Résistant, Observateur, Savant, Rusé, Talentueux, Charmeur) et de compétences (Navigation, Médecine, Négoce, Astronomie, Armes, etc.). 
            Afin de définir si une action est réussie, la somme de deux dés à six faces, de la caractéristique et la compétence appropriées est comparée sur une table avec la difficulté de l'action (de "routine" à "impossible"), et un niveau de réussite (ou d'échec) variant de "réussite critique" à "échec critique" est alors interprété par le meneur de jeu.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Un exemple de magie</h3>
        </div>
        <div class="panel-body">
            <h4><b>{{tour.getNom}}</b></h4>
            <p><b>Description : </b>{{tour.getEffet}}</p>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Un exemple de coup de bol lié au personnage</h3>
        </div>
        <div class="panel-body">
            <h4><b>{{cdb.getNom}}</b></h4>
            <p><b>Description : </b>{{cdb.getNom}}</p>
            <p><b>Effet : </b>{{cdb.getEffet}}</p>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Un exemple de mésaventure liée au personnage</h3>
        </div>
        <div class="panel-body">
            <h4><b>{{mes.getNom}}</b></h4>
            <p><b>Description : </b>{{mes.getNom}}</p>
            <p><b>Effet : </b>{{mes.getEffet}}</p>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Un exemple de machination</h3>
        </div>
        <div class="panel-body">
            <h4><b>{{machi.getNom}}</b></h4>
            <p><b>Description : </b>{{machi.getDescription}}</p>
            <p><b>Effet pervers : </b>{{machi.getEffetPervers}}</p>
        </div>
    </div>

{% endblock fos_user_content %}