{% extends "::layout_guildes.html.twig" %}
{% block title %}
JdrCorp - Guildes - Machinations
{% endblock %}

{% block fos_user_content %}

<div class="panel-group" id="accordionArmes">
    {% for chap in listeChap %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionArmes" href="#collapse{{chap.getId}}">
                    {{chap.getNom}}
                </a>
            </h4>
        </div>
        <div id="collapse{{chap.getId}}" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Niveau</th>
                            <th>Description</th>
                            <th>Novice</th>
                            <th>Initié</th>
                            <th>Expert</th>
                            <th>Effet pervers</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for machi in listeMachination %}
                        {%if machi.getChapitre.getId == chap.getId%}
                        <tr>
                            <td>{{machi.getNom}}</td>
                            <td>{{machi.getNiveau}}</td>
                            <td>{{machi.getDescription}}</td>
                            <td>{{machi.getNovice}}</td>
                            <td>{{machi.getInitie}}</td>
                            <td>{{machi.getExpert}}</td>
                            <td>{{machi.getEffetPervers}}</td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock fos_user_content %}