{% extends "::layout_guildes.html.twig" %}
{% block title %}
    JdrCorp - Guildes - Compétences & Métiers
{% endblock %}
{% block fos_user_content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>Guildes Eldorado - Compétences et métiers</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Métiers</h3>
                    </div>
                    <div class="panel-body">
                        <ul id="all_met" class="nav nav-pills nav-stacked" style="max-width: 260px;">
                            {% for metier in listeMetiers %}
                                <li style="float:left;" id="metier_{{ metier.getId }}">
                                    <a rel="nofollow">{{ metier.getNom }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Compétences</h3>
                    </div>
                    <div class="panel-body">
                        <div style="margin:0!important;" class="page-header">Compétences d'apprenti</div>
                        <ul id="all_comp" class="nav nav-pills nav-stacked">
                            {% for comp in listeCompApp %}
                                <li style="float:left;margin-top:0!important;line-height: 1.25em;"
                                    id="comp_{{ comp.getId }}"
                                    data-carac="{{ comp.getCarac.getId }}" data-chap="{{ comp.getChapitre.getId }}">
                                    <a rel="nofollow">
                                        {{ comp.getNom }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div style="margin:0!important;" class="page-header">Compétences de compagnon</div>
                        <ul id="all_compcpg" class="nav nav-pills nav-stacked">
                            {% for comp in listeCompCpg %}
                                <li style="float:left;margin-top:0!important;line-height: 1.25em;"
                                    id="comp_{{ comp.getId }}"
                                    data-carac="{{ comp.getCarac.getId }}" data-chap="{{ comp.getChapitre.getId }}">
                                    <a rel="nofollow">
                                        {{ comp.getNom }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Caractéristiques</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="caracs nav nav-pills nav-stacked" style="max-width: 260px;">
                            {% for carac in listeCarac %}
                                <li id="carac_{{ carac.getId }}" style="margin-top:0!important;line-height: 1.25em;">
                                    <a rel="nofollow">
                                        {{ carac.getNom }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chapitres</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="chapters nav nav-pills nav-stacked" style="max-width: 260px;">
                            {% for chap in listeChap %}
                                <li id="chap_{{ chap.getId }}" style="margin-top:0!important;line-height: 1.25em;">
                                    <a rel="nofollow">
                                        {{ chap.getNom }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

{% block adds %}
    <link rel="stylesheet" type="text/css" href="{{ asset('res/css/comp.css') }}"/>
    <script src="{{ asset('res/js/guildes/comp.js') }}"></script>
{% endblock %}